{% extends 'base.html' %} {% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="page-header">Settings</h1>
                <div class="panel panel-default">
                <div class="panel-heading">Change password</div>
                <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Save</button>
                </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}